title: kushwanthreddy blog

description: Kushwanth Reddy Blog

baseurl: "https://blog.kushwanthreddy.com"

permalink: /:title/

sass:
  style: :expanded

gems:
  - jekyll-redirect-from

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

include:
  - .well-known/assetlinks.json
